body{
margin:0;
font-family:Arial;
background:#0b141a;
color:white;
text-align:center;
}

.box{
width:90%;
max-width:400px;
margin:50px auto;
background:#111b21;
padding:20px;
border-radius:10px;
}

input, button{
width:100%;
padding:10px;
margin:5px 0;
border:none;
background:#202c33;
color:white;
}

button{
background:#25d366;
cursor:pointer;
}

.user, .msg{
background:#202c33;
margin:5px;
padding:10px;
border-radius:5px;
}